@model IEnumerable<AtosProjetoFinal.Models.Role>

@{
    ViewData["Title"] = "Sub-classe";
}

<h1>Sub-classe</h1>

<p>
    <a asp-action="Create">Adicione uma sub-classe</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.roleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trait1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trait2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trait3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="fst-italic">
                @Html.DisplayFor(modelItem => item.roleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trait1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trait2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trait3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.roleID">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.roleID">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
