@model AtosProjetoFinal.Models.Armor

@{
    ViewData["Title"] = "Armadura";
}

<h1>Você tem certeza que deseja remover esta armadura</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.armorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.armorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.armorGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.armorGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.armorBulk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.armorBulk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.armorProtectionValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.armorProtectionValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.armorDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.armorDescription)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="armorID" />
        <input type="submit" value="Remover" class="btn btn-danger" /> |
        <input type="button" class="btn btn-secondary" onclick= "history.go(-1)" value="Voltar" />
    </form>
</div>
